body {
    font-family: 'Azeret Mono', monospace;
}
#grid {
    display: grid;
    grid-template: repeat(30, 1fr) / 85px repeat(13, 1fr) 85px;
    width: 100%;
    height: 3000px;
    margin: 0;
    top: 100px;
}
body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid black;
    height: 100%;

}
#logo {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 5px;
    top: 5px;
}
header {
    position: fixed;
    width: 100%;
    height: 97px;
    background-color: white;
    z-index: 1;
    opacity: 0.9;
}
nav h3 {
    padding-right: 10px;
    text-align: center;
    font-weight: 900;
}

nav h3:hover {
    color: rgb(7, 58, 29);
}
#quote {
    grid-area: 2 / 2 / span 3 / span 13;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 58, 29);
}
#quote h1 {
    text-align: center;
    line-height: 50px;
}
#mission {
    grid-area: 6 / 2 / span 4 / span 6;
    position: relative;
}
#mission p {
    height: 100%;
    line-height: 25px;
    font-size: larger;
    text-align: center;
}
#mission h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

#image1 {
    grid-area: 6 / 9 / span 4 / span 6;
    display: flex;
    overflow: hidden;
    align-items: center;
}

#development {
    position: relative;
    grid-area: 12 / 2 / span 3 / span 6;
    overflow: hidden;
}
#aau {
    position: relative;
    grid-area: 16 / 5 / span 3 / span 7;
    overflow: hidden;
}
#camp {
    position: relative;
    grid-area: 12 / 9 / span 3 / span 6;
    overflow: hidden;
}
.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(7, 58, 29, 0.0);
    visibility: hidden;
}
#development:hover > .shade, #aau:hover > .shade, #camp:hover > .shade {
    animation-name: shading;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes shading {
    from { background: rgb(7, 58, 29, 0.0); height: 0%; visibility: hidden;}
    to { background: rgb(7, 58, 29, 0.8); height: 100%; visibility: visible;}
}
.info {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 0%;
    color: white;
    text-align: center;
    line-height: 18px;
    visibility: hidden;
    font-size: 12px;
}
#development:hover > .info, #aau:hover > .info, #camp:hover > .info {
    animation-name: info;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes info {
    from {height: 0%; visibility: hidden; opacity: 0.0;}
    to {height: 100%; visibility: visible; opacity: 1.0;}
}
.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    color: white;
    visibility: visible;
    text-align: center;
    text-decoration: underline;
}
#left_sidebar {
   position: fixed;
   top: 100px;
   left: 0px;
   height: 50%;
   width: 80px;
   display: flex;
   align-items: center;
   flex-flow: column;
   justify-content: space-evenly;
}
#left_sidebar img{
    width: 25px;
    height: 25px;
}
#bio_pic {
    grid-area: 21 / 2 / span 3 / span 4;
    background-color: rgb(7, 58, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}
#bio_pic img {
    border-radius: 10%;
    border: medium solid black;
}
#about {
    grid-area: 21 / 6 / span 3 / span 9;
    text-align: center;
    line-height: 20px;
    background-color: rgb(7, 58, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    color: white;
}
#about h2 {
    margin: 0;
}
#about p {
    padding: 0px 10px 0px 10px;
}
#testimonial_pics {
    grid-area: 26 / 2 / span 3 / span 4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#testimonial_pics img {
    width: 100%;

}
#testimonial {
    grid-area: 26 / 6 / span 3 / span 9;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    line-height: 15px;
    position: relative;
}
#mission_span {
    position: absolute;
    visibility: hidden;
    top: -150px;
}
#events_span {
    position: absolute;
    visibility: hidden;
    top: -150px;
}
#about_span {
    position: absolute;
    visibility: hidden;
    top: -150px;
}
#testimonial_span {
    position: absolute;
    visibility: hidden;
    top: -150px;
}
a {
    color: black;
}
footer {
    grid-area: 30 / 1 / span 1 / span 15;
    background-color: rgb(7, 58, 29);
    display: flex;
    align-items: center;
    color: white;
    border-top: 3px solid black;
    justify-content: space-evenly;
}
#right_sidebar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 305px;
    right: 0px;
    height: 100%;
    width: 80px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
 }
 #gradient_one {
     grid-area: 20 / 2 / span 1 / span 13;
     background-image: linear-gradient(white, rgb(7, 58, 29));
 }
 #gradient_two {
     grid-area: 24 / 2 / span 1 / span 13;
     background-image: linear-gradient(rgb(7, 58, 29), white);
 }