#grid {
    display: grid;
    grid-template: repeat(30, 1fr) / 85px repeat(13, 1fr) 85px;
    width: 100%;
    height: 3000px;
    margin: 0;
    gap: 1px;
    top: 100px;
}
body {
    margin: 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid black;
    height: 100%;

}
#logo {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 5px;
    top: 5px;
}
header {
    position: fixed;
    width: 100%;
    height: 97px;
    background-color: white;
    z-index: 1;
    opacity: 0.9;
}
nav h3 {
    padding-right: 10px;
    text-align: center;
}
#quote {
    grid-area: 2 / 2 / span 2 / span 13;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
}
#quote h1 {
    text-align: center;
    line-height: 60px;
}
#mission {
    grid-area: 5 / 2 / span 4 / span 6;
    border: 3px solid black;
}
#mission p {
    height: 100%;
    line-height: 30px;
    font-size: larger;
    text-align: center;
}
#mission h2 {
    text-align: center;
}

img {
    max-width: 100%;
    border: 1px solid black;
}

#image1 {
    grid-area: 5 / 9 / span 4 / span 6;
    border: 3px solid black;
    text-align: center;
    overflow: hidden;
}
#development {
    grid-area: 10 / 2 / span 3 / span 6;
}
#aau {
    grid-area: 14 / 5 / span 3 / span 7;
    overflow: hidden;
}
#camp {
    grid-area: 10 / 9 / span 3 / span 6;
}